.container-fluid{
    background-image: url(../img/fondo_login.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cuadro{
    border: solid 6px #6a5303; 
    height: 80%;
    width: 50%;
    border-radius: 30px;
    background-color: #384639;
    box-shadow: 13px 8px 10px #26c218; /* sombra en la derecha y parte inferior */
   
    
}
.titulo{
    font-size: 29px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
}
.texto{
    font-size: 30px;
    color: white;
    border: solid white 2px;
    display: flex;
    margin-top: 3%;
    justify-content: center;
    
}
.ingresar{
    border: solid white 2px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;   
}
.formulario{
    display: flex;
    border: solid white 2px;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.fila{
    display: flex;
    height: 6%;
    width: 100%;
    border: solid white 2px;
    justify-content: center;
    align-items: center;
}
.cua{
    border-radius: 50px;
    height: 6vh;
}