
body::after {
  content: '';
  position: fixed;
  width: 32px; /* Tamaño del cursor */
  height: 32px;
  background: url('../img/cursor.png') no-repeat center; /* Ruta de la imagen */
  background-size: contain; /* Ajusta el tamaño de la imagen */
  pointer-events: none; /* Permite clics a través del cursor */
  z-index: 9999; /* Asegura que esté al frente */
}


.container-fluid{
    background-image: url(../img/fondo_login.jpg);
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.cuadro{
    border: solid 6px #6a5303; 
    height: 80%;
    width: 50%;
    border-radius: 30px;
    background-color: #38463964;
    box-shadow: 13px 8px 10px #26c218; /* sombra en la derecha y parte inferior */
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 12px rgb(7, 7, 6));

    
  }
  .cuadrote{
    width: 100%;
    height: 100%;
    display: flex;
    
  }
  .registrate{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    filter: drop-shadow(0px 0px 12px rgb(7, 7, 6));

    color: white;
  }
    
   .img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 12px rgb(7, 7, 6));

   }
   .datos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 5%;    
    
   }
   .largos{
    height: 382vh !important;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
   }
   .filas{
    
    height: 20%;
    width: 100%;

   }
   .redondeo{
    border-radius: 50px;
    width: 100%;
    height: 53%;
    margin-top: 3%;
    text-align: center;
    filter: drop-shadow(0px 0px 12px rgb(7, 7, 6));

   }
   .formularios{
    height: 20%;
   }
   .espa{
    margin-top: 3%;
   }
   .boton{
    width: 100%;
    height: 100%;
   }
  .boton1{
    height: 100%;
    width: 100%;
    background-color: red;
    filter: drop-shadow(0px 0px 12px rgb(255, 0, 0));
    color: white;

    border-radius: 50px;
  }
  a{
    height: 80%;
    width: 90%;
  }.botona{
  height: 100%;
  width: 100%;
  }
  .boton2{
    height: 80%;
    width: 90%;
    margin-left: 40%;
    background-color: #26c218;
    border-radius: 50px;
    margin-top: 5%;
    filter: drop-shadow(0px 0px 12px rgb(0, 255, 30));
    color: white;

  }
  .z{
    height: 80%;
    margin-top: 4%;
  }
  label{
    font-size: 20px;
    color: #26c218;
  }

  @media (max-width: 700px) {
    .container-fluid{
      background-image: url(../img/fondo_login.jpg);
      background-size: contain;
      height: 100vh;
      display: flex;
      align-items: center;

  
      
  }
  .cuadro{
      border: solid 6px #6a5303; 
      height: 70%;
      width: 100%;
      border-radius: 30px;
      background-color: #38463964;
      box-shadow: 13px 8px 10px #26c218; /* sombra en la derecha y parte inferior */
      display: flex;
      flex-direction: column;
      
    }
    .cuadrote{
      width: 100%;
      height: 100%;
      display: flex;
      
    }
    .registrate{
      height: 8vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: white;
    }
      
     .img{
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     .datos{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      
      
      
     }
     .largos{
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15%;
     
     }
     .filas{
      
      height: 20%;
      width: 100%;
  
     }
     .redondeo{
      border-radius: 50px;
      width: 100%;
      height: 53%;
      margin-top: 3%;
      text-align: center;
     }
     .formularios{
      height: 20%;
     }
     .espa{
      margin-top: 3%;
     }
     .boton{
      width: 100%;
      height: 100%;
     }
    .boton1{
      width: 100%;
      background-color: red;
      border-radius: 50px;
      height: 60%;
      margin-top: 5%;
    }
    a{
      height: 100%;
      height: 100%;
      width: 90%;
    }
    .botona{
    height: 100%;
    width: 100%;
    }
    .boton2{
      height: 60%;
      width: 100%;
      background-color: #26c218;
      border-radius: 50px;
      filter: drop-shadow(0px 0px 12px rgb(0, 255, 30));

    }
    .z{
      height: 50%;
      margin-top: 4%;
    }
    label{
      font-size: 15px;
      color: #26c218;
    }
  }